<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
    <h2>회원 리스트</h2><hr>
<table>
    <tr>
        <th>id</th><th>memberId</th><th>password</th><th>name</th><th>alias</th><th style="color:red">삭제</th>
    </tr>
    <tr th:each="member: ${memberList}">
        <td th:text="${member.id}"></td>
        <td th:text="${member.memberId}"></td>
        <td th:text="${member.password}"></td>
        <td th:text="${member.name}"></td>
        <td th:text="${member.alias}"></td>
        <td>
            <a th:href="@{|/member/delete/${member.id}|}">삭제</a>
        </td>
    </tr>
</table>
</body>
</html>